:root {
    --bg-color: #ffffff;
    --text-color: #222222;
    --card-bg: #ffffff;
    --input-bg: #ffffff;
    --input-border: #494444;
    --container-name: #000000;
    --border-color: #ccc;
    --shadow: rgba(0, 0, 0, 0.1);
    --toast-bg: #f2505d;
    --button-text: #ffffff;
    --redirect-bg: #1a5fb4;
    --redirect-hover: #144a8a;
    --status-running-bg: #e0f7f1;
    --status-running-text: #087f5b;
    --status-stopped-bg: #fdecea;
    --status-stopped-text: #c92a2a;
}

body.dark {
    --bg-color: #121212;
    --text-color: #e0e0e0;
    --card-bg: #1e1e1e;
    --input-bg: #2a2a2a;
    --input-border: #555555;
    --container-name: #e0e0e0;
    --border-color: #444;
    --shadow: rgba(255, 255, 255, 0.05);
    --toast-bg: #d9534f;
    --button-text: #ffffff;
    --redirect-bg: #1a5fb4;
    --redirect-hover: #0d3c6a;
    --status-running-bg: #24493f;
    --status-running-text: #4ee4bc;
    --status-stopped-bg: #4e1e1e;
    --status-stopped-text: #f99;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

nav {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px 15px;
    border-bottom: 1px solid var(--border-color);
    box-shadow: 0 2px 4px var(--shadow);
}

.fa-docker {
    font-size: 28px;
    color: var(--redirect-bg);
    margin-left: 2%;
}

nav h1 {
    font-size: 22px;
    font-weight: 600;
    margin: 0;
}

.filter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 32px 20px auto;
}

.input-wrapper {
    position: relative;
    width: 100%;
    max-width: 200px;
    margin-left: 32px;
}

.search-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    color: #aaa;
    pointer-events: none;
}

.search-input {
    width: 100%;
    padding: 10px 12px 10px 36px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    background-color: #fff;
    color: #000;
    transition: all 0.3s ease;
}

/* Tema escuro */
body.dark .search-input {
    background-color: #2c2c2c;
    color: #f1f1f1;
    border-color: #444;
}

body.dark .search-icon {
    color: #ccc;
}

#status-filter {
    padding: 8px 12px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid var(--input-border);
    background-color: var(--input-bg);
    color: var(--text-color);

    cursor: pointer;
}

.container-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
    padding: 2rem;
}

.container-card {
    background-color: var(--card-bg);
    border: 1px solid var(--border-color);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 5px var(--shadow);
    color: var(--text-color);
}

.container-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
}

.container-name {
    font-size: 115%;
    margin: 0;
    color: var(--container-name);
}

.container-state {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.3rem 0.7rem;
    border-radius: 999px;
    font-weight: 500;
    font-size: 0.9rem;
}

.container-state .status-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.container-state.active {
    background-color: var(--status-running-bg);
    color: var(--status-running-text);
}

.container-state.active .status-dot {
    background-color: var(--status-running-text);
}

.container-state.stopped {
    background-color: var(--status-stopped-bg);
    color: var(--status-stopped-text);
}

.container-state.stopped .status-dot {
    background-color: var(--status-stopped-text);
}

.redirect-button {
    margin-left: auto;
    display: inline-flex;
    align-items: center;
    gap: 6px;
    padding: 15px 10px;
    background-color: var(--redirect-bg);
    color: var(--button-text);
    text-decoration: none;
    border-radius: 6px;
    font-size: 15px;
    font-weight: 500;
    white-space: nowrap;
    transition: background-color 0.3s ease;
}

.theme-toggle {
    margin-left: 65%;
    color: var(--text-color);
    background-color: transparent;
    font-size: 20px;
}

.toast {
    position: fixed;
    top: 90%;
    right: 20px;
    background-color: var(--toast-bg);
    color: white;
    padding: 12px 20px;
    border-radius: 6px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    font-weight: 500;
    font-size: 16px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease-in-out;
}

.toast.show {
    opacity: 1;
    pointer-events: auto;
}

.toast i.close-toast {
    cursor: pointer;
}

button {
    padding: 8px 16px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: var(--button-text);
    transition: background-color 0.3s ease;
}

.start-button {
    background-color: #087f5b;
}
.start-button:hover {
    background-color: #2b5935;
}

.stop-button {
    background-color: #c92a2a;
}
.stop-button:hover {
    background-color: #a71d2a;
}

.delete-btn {
    background-color: #f2505d;
}
.delete-btn:hover {
    background-color: #a4363e;
}

.rotate {
    animation: rotateIcon 0.5s ease-in-out;
}

@keyframes rotateIcon {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.open-btn {
    padding: 10px 20px;
    background-color: #F2505D;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.overlay {
    position: fixed;
    top: 0; left: 0;
    width: 100vw; height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.new-container-form {
    background: var(--bg-color);
    padding: 30px;
    border-radius: 10px;
    width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: relative;
}

.new-container-form h2 {
    margin-top: 0;
    color: var(--text-color);
}

.new-container-form label {
    display: block;
    margin-top: 10px;
}

.new-container-form input {
    width: 100%;
    background: var(--input-bg);
    color: var(--text-color);
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
    border: 1px solid var(--input-border);
    border-radius: 5px;
}

.create-btn {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: var(--redirect-bg);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    white-space: nowrap;
}

.close-btn {
    color: gray;
}

input[type=number] {
    -moz-appearance: textfield;
}

.input-ports {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
    margin-top: 1rem;
}

input:focus {
    border-color: #007bff;
    outline: none;
}


.port-group {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    flex: 1;
}

.new-container-form input {
    width: 100%;
    border-radius: 10px;
}


.container-card-btn {
    display: flex;
    align-items: center;
    gap: 8px;
}

.container-card-btn form {
    margin: 0;
}

.container-card-btn button {
    padding: 6px 10px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.info-btn {
    background-color: var(--redirect-bg);
}

.container-info-card {
    background: var(--bg-color);
    padding: 30px;
    border-radius: 10px;
    width: auto;
    height: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: relative;

}

.container-info-card h2 {
    white-space: nowrap;
}

.close-info-btn {
    background-color: transparent;
    margin-left: 125px;
    margin-bottom: 50px;
}

.container-card-title {
    display: flex;
}

.container-info-card-btn {
    display: flex;
    gap: 10px ;
}