<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
    <title>Docker Manager</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
    <link rel="icon" href="/assets/docker-svgrepo-com.svg" type="image/png">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>


<nav>
    <i class="fa-brands fa-docker"></i>
    <h1>Docker Container Manager</h1>


    <button class="theme-toggle" onclick="toggleTheme()">
        <i  id="theme-icon" class="fa-solid fa-moon"></i>
    </button>
    <button class="redirect-button" onclick="openForm()">
        <i class="fa-solid fa-plus"></i> Criar Container
    </button>

</nav>

<div class="filter-container">
    <div class="input-wrapper">
        <i class="fas fa-search search-icon"></i>
        <label for="search-input"></label><input
                type="text"
                id="search-input"
                placeholder="Buscar containers..."
                class="search-input"
        />
    </div>


    <label for="status-filter"></label><select id="status-filter">
        <option value="Todos">Todos</option>
        <option value="Ativo">Ativo</option>
        <option value="Parado">Parado</option>
    </select>
</div>


<div class="container-grid">
    <div th:each="container : ${containers}" class="container-card">
        <div class="container-top">
            <p class="container-name"><span th:text="${container.name}"></span></p>
            <p class="container-state"
               th:classappend="${container.state} == 'running' ? ' active' : ' stopped'">
                <span class="status-dot"></span>
                <span class="status-text" th:text="${container.state == 'running' ? 'Ativo' : 'Parado'}"></span>
            </p>
        </div>
        <p><i class="fa-solid fa-network-wired"></i> <span th:text="${container.port}"></span></p>
        <p><i class="fa-solid fa-tag"></i> <span class="image-span" th:text="${container.image}"></span></p>
        <p><i class="fa-regular fa-clock"></i> <span th:text="${container.status}"></span></p>

        <form th:if="${container.state != 'running'}"  th:action="@{api/containers/start}" method="post">
            <input type="hidden" name="id" th:value="${container.containerId}" />
            <button class="start-button" type="submit"><i class="fa-solid fa-play"></i></button>
        </form>

        <form th:if="${container.state == 'running'}" th:action="@{api/containers/stop}" method="post">
            <input type="hidden" name="id" th:value="${container.containerId}" />
            <button class="stop-button" type="submit"><i class="fa-solid fa-stop"></i></button>
        </form>
        <form th:action="@{api/containers/delete}" method="post">
            <input type="hidden" name="id" th:value="${container.containerId}" />
            <button class="delete-btn" type="submit">Deletar</button>
        </form>

    </div>
    <span id="error-toast" class="toast" th:if="${error != null}">
        <span th:text="${error}"></span>
        <i class="fa-solid fa-xmark close-toast"></i>
    </span>

    <div class="overlay" id="modalOverlay">
        <div class="new-container-form">
            <h2>Criar Container Docker</h2>
            <form action="api/containers/create" method="POST">
                <label for="containerName">Nome do Container:</label>
                <input type="text" id="containerName" name="containerName" placeholder="Nome_Container" >

                <label for="imageName">Nome da Imagem:</label>
                <input type="text" id="imageName" name="imageName" placeholder="nginx" required>

                <div class="input-ports">
                    <div class="port-group">
                        <label for="port">Porta do Host:</label>
                        <input class="port" type="number" id="port" name="port" placeholder="8080">
                    </div>

                    <div class="port-group">
                        <label for="exposedPort">Porta do Container:</label>
                        <input class="port" type="number" id="exposedPort" name="exposedPort" placeholder="8080">
                    </div>
                </div>

                <button class="create-btn" type="submit"><i class="fa-brands fa-docker" style="color: #ffffff; font-size: 16px;"></i> Criar Container</button>
                <button class="close-btn" type="reset" onclick="closeForm()">Cancelar</button>
            </form>
        </div>
    </div>

</div>


<script th:src="@{/js/toast.js}"></script>
<script th:src="@{/js/filter.js}"></script>
<script th:src="@{js/themeChange.js}"></script>
<script th:src="@{js/containerform.js}"></script>
</body>
</html>
